@* This is the Upload Data page -- still need to modify the UI*@
@page "/counter"
@using BlazorInputFile
@using Models
@using Data
@using Services
@using System.Diagnostics
@using Parser

@inject DataCalculatorDbContext _context 
@inject MetaDataDbContext _md_context
@inject IFileHandler _fileHandler
@inject NavigationManager NavigationManager

@* The form *@
<h3>Upload Data</h3>
<div class="sendFileForm">
      <div class="form-child">
           <EditForm Model=@data OnValidSubmit=@HandleValidSubmit>
        <div class="form-group">
            <h4>Paradise</h4>
            <label for="File">File</label>
            <BlazorInputFile.InputFile id="File" class="form-control" accept=".json, .xml" OnChange="@HandleFileUpload" multiple />
            <strong>
                file(s) selected: 
                <ul>
                @foreach (FileSendData datum in data)
                {
                   <li>@datum.FileName</li>
                }
                </ul>
            </strong>
        </div>
        <button class="btn btn-primary" type="submit">Send file</button>
        <p>@message</p>
        <p>@message2</p>
        <p>@UploadTimeMessage</p>
        <p>@totalFileSizeMessage</p>
      </EditForm>
      </div>

      <div class="form-child">
          <EditForm Model=@data OnValidSubmit=@HandleValidSubmit>
        <div class="form-group">
            <h4>AWS Glue</h4>
            <label for="File">File</label>
            <BlazorInputFile.InputFile id="File" class="form-control" accept=".json, .xml" OnChange="@HandleFileUpload" multiple />
            <strong>
                file(s) selected: 
                <ul>
                @foreach (FileSendData datum in data)
                {
                   <li>@datum.FileName</li>
                }
                </ul>
            </strong>
        </div>
        <button class="btn btn-primary" type="submit">Send file</button>
        <p>@GlueMessage</p>
        <p>@GlueMessage2</p>
        <p>@gUploadTimeMessage</p>
        <p>@gTotalFileSize</p>
      </EditForm>
      </div>
      

    @if(state == 1)
    {
        <button class="btn btn-primary" @onclick="onClick">Query Now</button>
    }

    @if(g_state == 1)
    {
        <button class="btn btn-primary" @onclick="onClickGlue">Query Now</button>
    }
</div>

