@*This is the query page*@
@page "/fetchdata"
@using BlazorInputFile
@using Models
@using Data
@using Services
@using C1.Chart
@using C1.Blazor.Chart
@using Parser
@using MongoDB.Bson
@using MongoDB.Driver
@using System.Diagnostics

@inject DataCalculatorDbContext _context 
@inject IFileHandler _fileHandler
@inject MetaDataDbContext _md_context

<h1>Query Data</h1>

<div id="query-field">
    <div id="query-field-child">
        <h4>Paradise</h4>
        <div id="year-field">
            <p>Enter starting year:</p>
            <input @bind="startDate">Enter starting year</input>
        </div>
        <p></p>
        <div id="year-field">
            <p>Enter end year:</p>
            <input @bind="endDate">Enter final year</input>
        </div>
        <button class="btn btn-primary" @onclick= "() => MetaDataQuery(startDate, endDate)">Query Data</button>
        <p>@message</p>
        <p>@QueryTimeMessage</p>
        <p>@QuerySizeMessage</p>
        @if (state == 1)
        {
            int i = 0;
    
            foreach (List<object> display in displays)
            {
                string yr = GetYear(i);
                string m_content = $"Top Vulnerabilties in {yr}";
                    <FlexChart Class="chart" ChartType="ChartType.Column"
                    HeaderContent=@m_content HeaderStyle="font-size:24px"
                    LegendPosition="Position.Bottom" LegendStyle="font-size:18px"
                    BindingX="name" ItemsSource="display">
                        <SeriesCollection>
                            <Series Name="count" Binding="count" />
                        </SeriesCollection>
                        <Label>
                            <DataLabel Position="LabelPosition.Top" Content="{value}"/>
                        </Label>
                    </FlexChart>
                    i++;
            }

              <h4>Query History</h4>
         <table class='table'>
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Current Query Time</th>
                    <th>Previous Query Time</th>
                </tr>
            </thead>
            <tbody>

            @for (int j = 0; j < fileNames.Count; j++) 
            {
                    <tr>
                            <td>@fileNames[j]</td>
                            <td>@currentQueryTimes[j]</td>
                            <td>@queryTimeHistory[j]</td>
                    </tr>
            }
                
            </tbody>
        </table>

        }
    </div>
    <div id="query-field-child">
        <h4>Glue</h4>
        <div id="year-field">
            <p>Enter starting year:</p>
            <input @bind="g_startDate">Enter starting year</input>
        </div>
        <p></p>
        <div id="year-field">
            <p>Enter end year:</p>
            <input @bind="g_endDate">Enter final year</input>
        </div>
        <button class="btn btn-primary" @onclick= "() => MetaDataQuery(startDate, endDate)">Query Data</button>
        <p>@g_message</p>
        <p>@g_QueryTimeMessage</p>
        <p>@g_QuerySizeMessage</p>
        @if (g_state == 1)
        {
            int i = 0;
    
            foreach (List<object> display in displays)
            {
                string yr = GetYear(i);
                string m_content = $"Top Vulnerabilties in {yr}";
                    <FlexChart Class="chart" ChartType="ChartType.Column"
                    HeaderContent=@m_content HeaderStyle="font-size:24px"
                    LegendPosition="Position.Bottom" LegendStyle="font-size:18px"
                    BindingX="name" ItemsSource="display">
                        <SeriesCollection>
                            <Series Name="count" Binding="count" />
                        </SeriesCollection>
                        <Label>
                            <DataLabel Position="LabelPosition.Top" Content="{value}"/>
                        </Label>
                    </FlexChart>
                    i++;
            }

        }
    </div>
  
</div>

    
